// Embedded Frames

iframe {
  width: 100%;
  min-height: 400px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

a.fullscreen {
  border: 1px solid #999;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f0f0f0;
  padding: 5px;
  text-decoration: none;
  font-size: 80%;
  color: #000;
  border-top: none;
  position: relative;
  top: -15px;

  &:hover {
    color: #10c186;
  }

  &::before {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 5px 0 5px;
  }
}
